/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Fix para mat-select con fondo transparente */
.mat-mdc-select-panel {
  background-color: white !important;
}

.mat-mdc-option {
  background-color: white !important;
}

.mat-mdc-option:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
